<!-- Javascript -->
<div th:fragment="JSScript">
    <script src="plugins/jquery-3.4.1.min.js"></script>
    <script src="plugins/popper.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="plugins/tiny-slider/min/tiny-slider.js"></script>
    <script src="js/testimonials.js"></script>


    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="js/custom/style-switcher.js"></script>

    <!-- My Custom JS-->
    <script src="js/custom/header.js"></script>

    <!-- Dark Mode -->
    <script src="plugins/js-cookie.min.js"></script>
    <script src="js/dark-mode.js"></script>
</div>